# This is an API key that asphalt uses to upload assets to Roblox (cloud sync).
# Get an API key here: https://create.roblox.com/dashboard/credentials. (needs asset:read, asset:write permissions)
# If you only use local Studio sync (studio sync), you don't need an API key.
ASPHALT_API_KEY=